/* PAGE */
#right_nav {
	background-color: #EEECE8;
}

#app_title {
	background-color: #EEECE8;
	
}

/*
#hd-wrap {
	background-color: red;
}

#hd {
	background-color: blue;	
}

#bd {
	background-color: yellow;
}

#ft-wrap {
	background-color: green;
	
}
*/